/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);
  --brown800: hsl(14, 45%, 36%);
  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--stone600);
  line-height: 1.5;
}

/* headings */
h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400; /* browser default is bold (600) for h1 & h2 */
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.25rem;
  color: var(--stone900);
  line-height: 2.25rem;
}

h2 {
  font-size: 1.75rem;
  color: var(--brown800);
}

/* header */
img {
  width: 100%;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 2rem;
}

hr {
  border: 0.5px solid var(--stone150);
  margin-top: 2rem;
}

/* main: lists */
ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
}

li {
  padding-left: 1rem; /* controls space between bullet and text */
}

ul li::marker {
  color: var(--rose800);
  font-size: 0.75rem;
}

ol li::marker {
  color: var(--rose800);
  font-weight: 700;
}

/* main: nutrition table */
table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--stone150);
}

tr:last-child {
  border-bottom: 0;
}

td {
  padding: 0.75rem 2rem;
}

.nutrition-value {
  color: var(--brown800);
  font-weight: 700;
}

/* section-specific styling */
#preparation {
  background: var(--rose50);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

#preparation h2 {
  color: var(--rose800);
  padding-bottom: 1rem;
}

/* footer */
footer {
  font-size: 11px;
  text-align: center;
  padding: 1rem;
}
footer a {
  text-decoration: none;
  color: var(--rose800);
}

@media screen and (width > 375px) and (max-width: 768px) {
  body {
    background: var(--stone100);
  }

  #wrapper {
    background: var(--white);
    max-width: 616px;
    padding: 2.5rem;
    margin: 8rem auto;
    border-radius: 1.5rem;
  }

  main {
    padding: 2.5rem 0 0 0;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (width > 768px) {
  body {
    background: var(--stone100);
  }

  #wrapper {
    background: var(--white);
    max-width: 736px;
    padding: 2.5rem;
    margin: 8rem auto;
    border-radius: 1.5rem;
  }

  main {
    padding: 2.5rem 0 0 0;
  }
  h1 {
    font-size: 2.5rem;
  }
}
